numpy<2
imageio
pi
opencv-python
pandas
scikit-image
scipy
pythran
Pillow
pip
wheel
gast
pytz
matplotlib
Cython
setuptools
openpyxl
python-dateutil
xlrd
pyserial
beniget
tifffile
ply
networkx
six
fonttools
pyparsing
cycler
packaging
kiwisolver
easygui
Multi-Template-Matching
pyTMCL
pytest

# for MGA test bench interface
-r mga_testbench_interface/requirements.txt